@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media queries live here */

@media (min-width: 601px) and (max-width: 800px) {
  .navBar .title {
      font-size: 4.2rem;
      text-align: center;
      }
  
}

@media (min-width: 341px) and (max-width: 600px) {
  .navBar .title {
      font-size: 2.3rem;
      text-align: center;
  
    }
  
    .noteadd h1 {
      font-size: 1.5rem;
      max-width: max-content;
    }
  
    .noteadd {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  
    .form-group {
      display: flex;
      max-width: fit-content;
      justify-content: center;
    }
  
    .notebook {
      grid-template-columns: repeat(1, 1fr);
  
    }
  
    .notebookInfo {
      max-width: 200px;
      overflow-wrap: break-word;
  
    }



}

@media (max-width: 340px) {

  .navBar .title {
    font-size: 3.0rem;
    text-align: center; 
    
  }
  
  .noteadd h1 {
    font-size: 1.5rem;
    max-width: max-content;
  }
  
  .noteadd {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .form-group {
    display: flex;
    max-width: fit-content;
    justify-content: center;
  }

  .notebook {
      grid-template-columns: repeat(1, 1fr);

    }
  .notebookInfo {
    max-width: 200px;
    overflow-wrap: break-word;
    
  }
}
